<% include partials/header %>
    <div class="container">
        <div class="jumbotron">
                <h1><%= title %></h1>
                <p>please register using the form below</p>
                <hr>
                <ul class="errors">
                    <% if(errors){%>
                        <% for(let i=0 ; i<errors.length ; i++){ %>
                            <li class="alert alert-danger"><%= errors[i].msg %></li>
                        <%}%>
                    <%}%>
                </ul>
                <form action="/users/register" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label><h5>Name</h5></label>
                        <input type="text" name="name" placeholder="Enter your name." class="form-control">
                    </div>
                    <div class="form-group">
                        <label><h5>Email</h5></label>
                        <input type="email" name="email" placeholder="Enter your Email." class="form-control">
                    </div>
                    <div class="form-group">
                        <label><h5>Username</h5></label>
                        <input type="text" name="username" placeholder="Enter your Username." class="form-control">
                    </div>
                    <div class="form-group">
                        <label><h5>Password</h5></label>
                        <input type="password" name="password" placeholder="Enter your Password." class="form-control">
                    </div>
                    <div class="form-group">
                        <label><h5>Confir Password</h5></label>
                        <input type="password" name="password2" placeholder="Confirm your Password." class="form-control">
                    </div>
                    <div class="form-group">
                        <label><h5>Profile Image</h5></label>
                        <input type="file" name="profile_image " class="form-control">
                    </div>
                    <input type="submit" name="submit" value="Register" class="btn btn-primary  ">

                </form>
            </div>
        </div>
<% include partials/footer %>
