body {
  padding: 0px;
}

a {
  color: #00B7FF;
}
ul.success , ul.info , ul.error {
    position: fixed;
    right: 0px;
    top: 50px;
    display: none;
}
ul.success li, ul.info li, ul.error li{
    margin: 20px 0px 20px -40px ;
    padding: 15px 100px 15px 15px;
    border: 1px solid transparent;
    list-style: none;
    border-radius: 5px 0px 0px 5px;

}
ul.success li{
    color: rgba(44, 62, 80,1.0);
    background:rgba(46, 204, 113,0.50);
    border-color: rgba(39, 174, 96,1.0);
}

ul.info li{
    color: rgba(44, 62, 80,1.0);
    background: rgba(241, 196, 15,0.50);
    border-color:rgba(243, 156, 18,1.0);
}

ul.error li{
    color: rgba(44, 62, 80,1.0);
    background: rgba(231, 76, 60,0.50);
    border-color: rgba(192, 57, 43,1.0);
}