<!DOCTYPE html>
<html>
  	<head>
    	<title><%= title%>Express Website</title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  	</head>
  	<body>

		<%- include('header'); %>

	    <div class="container">
			<div class="jumbotron">
				<div class="container">
					<h1>About Page</h1>
				</div>
			</div>

    	</div>

		<%- include('footer'); %>


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
  	</body>
</html>
