
		<footer id="footer">
			<div class="container-fluid">
				<div class="text-center">
					<p>© 2016. Magazine Free HTML5. All Rights Reserverd. </p>
					<p>Designed by: <a href="http://freehtml5.co">FREEHTML5.co</a> Developed By: <a href="https://www.facebook.com/MohamedAshrafOthman">Mohamed Ashraf</a></p>
				</div>
			</div>
		</footer>




		<!-- JQuery Load the CDN first -->
		<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
		<script src="/js/wow.min.js"></script> <!-- WOW.js Mini file -->
		<script src="/js/script.js"></script> <!-- Externa Js File file - My File -->
    </body>
</html>
